#root {
  margin: 0 auto;
  text-align: center;
}
body {
  font-family: 'PT Serif', serif;
}
.contact-title{
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Playfair Display', serif !important;
  margin-left: 20% !important;
  margin-right: 20%;
  color: rgb(26, 26, 26);
  font-weight: 700;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}

.articles-title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 2rem;
  margin-left: 6%;
}
.research-title{
  text-align: left;
  margin-top: 15%;
  margin-bottom:0.1rem;
  margin-left: 6%;
  font-size: 33px;
  font-family: 'DM Serif Display', serif;
}

.research-title2{
  text-align: left;
  margin-top: 0%;
  margin-bottom: 1.6rem;
  margin-left: 6%;
  margin-right: 6%;
  font-size: 33px;
  font-family: 'DM Serif Display', serif;

}
.research{
  text-align: left;
  margin-bottom: 2.5rem;
  margin-left: 6%;
  margin-right: 6%;
  font-size: larger;
}
.articles {
  width: 90%;
  border: none;
  margin-left: 4%;
}

.a-title{
  font-family: 'DM Serif Display', serif !important;
}

.beggining {
  position: relative;
}

.beggining-text {
  font-size: small !important;
  color: rgb(157, 175, 187);
  text-align: left;
  font-weight: 400;
  line-height: 2;
  max-width: 36%;
  font-size: 12px !important;
  text-align: left;
  font-weight: 400;
}

.headpage {
  padding-left: 8%;
  position: absolute;
  top: 22%;
  width: 100%;
}

.text-title {
  color: rgba(222, 217, 217, 0.76);
  text-align: left;
  font-weight: 700;
  font-family: 'Newsreader', serif;
  font-size: 37px;
  max-width: 40%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container>* {
  flex: 0 0 27%;
  margin: 1rem;
}


@media screen and (min-width: 767px) {

  .m-title{
    max-width: 70%;
    margin-left: 15%;
  }
 
 
  .article-img{
    width: 94% !important;

  }
  .articles {
    width: 70%;
    margin-left: 15%;
  }

  .articles-title {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2rem;
    margin-left: 16%;
  }

  .research-title{
    text-align: left;
    margin-top: 10%;
    margin-bottom:0.1rem;
    margin-left: 16%;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;

  }

  .research-title2{
    text-align: left;
    margin-top: 0%;
    margin-bottom: 2rem;
    margin-left: 16%;
    margin-right: 16%;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;

  }
  .research{
    text-align: left;
    margin-bottom: 2.5rem;
    margin-left: 16%;
    margin-right: 16%;
    font-size: larger;
  }

  .partnerships{
    margin-left: 18% !important;
    margin-right: 18% !important;
    font-size: 38px;
    line-height: 55px !important;
    font-family: 'DM Serif Display', serif;
    ;
  }

  .partnerships2{
    margin-left: 18% !important;
    margin-right: 18% !important;
    line-height: 35px !important;
 /* font-family: 'Lora', serif; */
/* font-family: 'Libre Baskerville', serif; */
    
  }


}





@media (max-width: 800px) {
  .headpage {
    padding-left: 8%;
    position: absolute;
    top: 15%;
    width: 100%;
  }

  .beggining {
    margin-top: 0px !important;
    font-size: small;
  }

  .beggining-text {

    font-size: 18px !important;
    color: rgb(157, 175, 187);
    text-align: left;
    font-weight: 400;
    max-width: 86%;

  }
      .text-title {
      font-size: 350%;
      max-width: 95% !important;
    }

}
/* CSS */
.card-container1 {
  transition: opacity 0.4s ease-in-out;
  /*Adjustthisvaluebasedonyourcardcontent*/opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
}

.card-hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}


@media (max-width: 500px) {
  .text-title {
    margin-top: 20px;
    font-size: 200% !important;
    max-width: 90% !important;
    text-align:left;
  }
  .contactt{
    margin-left: 10% !important;
  
  }
}

@media (max-width: 767px) {
  .contact-title{
    margin-bottom: 0px !important;
    margin-left:10% !important;
    margin-right: 10%;
  }
  .card-container>* {
    flex: 0 0 80%;
  }
  .contactt{
    margin-left: 18% !important;
  
  }
.club-img{
  max-width: 350px;
  margin-bottom: 20px;
  margin: -5px;
}
}


.club-img{
  height: 225px;
  margin-bottom: 20px;
}

.circles {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

}
.club-center{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;

}


.clubs-row {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  width: 70%;

  justify-content: space-between;
}
.clubs-row2 {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  width: 70%;
  justify-content: center;

}

.circle-row {

  display: flex;
  justify-content: space-between;
}

.highlights {
  font-size: xx-large;
  color: #2a4663;
  margin-top: 50px;
}

.circle-container {
  font-family: 'Vollkorn', serif;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Newsreader', serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  /* Initial circle size */
  width: 220px;
  /* Initial circle size */
  border-radius: 50%;
  font-weight: 700;
  font-size: larger;
  color: #fcffffc2;
  background-color: #85a0be;
  /* A shade of blue for the circle background */
  box-shadow: 0 0 5px 5px #ffffff;
  /* Soft border with a matching background color */
  transition: all 0.3s ease;
  /* Transition for on-hover effect */
  margin-right:10px;
  margin-left:10px;


}



.circle {
  text-align: center;
  padding: 20px;
}
a{
  text-decoration: inherit !important;

}
a:hover {
  color:inherit !important;
  text-decoration: inherit !important;
}

/* On-hover effect */
.circle-container:hover {
  color: #fcfffff0;

  background-color: #33567c;
  /* A darker shade of blue on hover */
  box-shadow: 0 0 5px 5px #fcffff;
  /* Soft border with a matching hover background color */
}
  .partnerships{
    margin: 40px;
    line-height: 35px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    font-family: 'DM Serif Display', serif;
    ;
  }
  .partnerships2{
    margin-top: -18px;
    margin-bottom: 40px;
    line-height: 35px;
    color: rgb(65, 65, 65);
    ;
  }

.clubs{
  font-family: 'DM Serif Display', serif;
  font-size: larger;
  margin: 5px;
  line-height: 25px;
}

/* Media queries for smaller and larger devices */
@media screen and (max-width: 968px) {


  .club-center{
    display: block;
    justify-content: center;
  }
  .circles {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .clubs-row{
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  .clubs-row2{
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  .clubs{
    margin-right: 3% !important;
    margin-bottom: 18px;

  }

  .circle-row {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    width: 90% !important;

  }

  .circle-container {
    /* Adjust the width to create equal spacing between circles */
    margin: 25px;
    /* Smaller margin between circles for smaller devices */

    font-size: large;
    /* Smaller font size */
  }
}

@media screen and (min-width: 1200px) {
  .large-div{
    width: 60% !important;
    margin-left: 20% !important;
  }
  .text2{
    font-size: 22px !important;
  }
  .text-title {
    font-size: 55px;
    max-width: 40%;
  }

  .articles {
    width: 50%;
    border: none;
    margin-left: 25%;
  }

  .articles-title {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2.5rem;
    margin-left: 25%;
  }
  .research-title{
    text-align: left;
    margin-top: 7%;
    margin-bottom:0.2rem;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;

  }

  .research-title2{
    text-align: left;
    margin-top: 0%;
    margin-bottom: 2.5rem;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;

  }
  .research{
    text-align: left;
    margin-bottom: 2.5rem;
    margin-left: 25%;
    margin-right: 25%;
    font-size: x-large;
  }

  .beggining-text {
    line-height: 2.2;
    font-size: 23px !important;
    max-width: 32%;
    color: rgb(157, 175, 187);
    text-align: left;
    font-weight: 400;
  }

  .circle-row {
    margin-left: 6%;
    margin-right: 6%;
    width: 70% !important;

  }
    .clubs-row {
      margin-left: 6%;
      margin-right: 6%;
      width: 60%;
    }

  .circle-container {
    min-height: 250px !important;
    /* Larger circle size for larger devices */
    min-width: 250px !important;
    /* Larger circle size for larger devices */
    font-size: x-large;
    /* Larger font size for larger devices */
  }

  .centriraj{
    margin-right: 10%;
  }

  .headpage {
    padding-left: 10%;
  }
}


.article-img{
  margin-bottom: 3.2%;
  border-radius: 3% !important;
  -webkit-border-radius: 3% !important;
  -moz-border-radius: 3% !important;
  -ms-border-radius: 3% !important;
  -o-border-radius: 3% !important;
}

.au-title{
  margin-top: 1%;
  font-family: 'DM Serif Display', serif !important;
}

.accord{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  font-size: 18px;
  font-family: 'PT Serif', serif;
}
.accord2{
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 50px;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}

@media (max-width: 767px) {
  .accord{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
  }
  .accord2{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
  }
  .text2 {
    color: rgb(0, 0, 0); /* Text color */
    font-size: 15px !important; /* Adjust font size as needed */
    font-style: italic;
    margin: 5px;
  }
}














.circle2 {

  margin: 20px;
  max-width: 200px; /* Adjust the size as needed */
  max-height: 200px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.person-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text2 {
  color: rgb(0, 0, 0); /* Text color */
  font-size: 20px; /* Adjust font size as needed */
  font-style: italic;
  margin: 5px;
}


@media(min-width:1000px){
  .large-div{
    width: 64%;
    margin-left: 18%;
  }
  .alert-text{
    width: 62% !important;
    margin-left: 19% !important;
  }
  .alert-text0{
    width: 62% !important;
    margin-left: 19% !important;
  }
  .m-title{
    width: 60% !important;
    margin-left: 20% !important;
  }
  .mb-m{
    margin-left: 15% !important;
    width: 70% !important;
  }
  .mb-mn{
    margin-left: 26% !important;
    width: 48% !important;
  }
}

.alert-text{
  width: 90%;
  margin-left: 5%;
  margin-bottom:-1px;
}
.alert-text0{
  width: 90%;
  margin-left: 5%;
  margin-bottom:-1px;
  font-size: medium !important;
}
.m-title{
  font-family: 'DM Serif Display', serif !important;
  font-size: xx-large;
  font-weight: 600;
}

.mb-m{
  margin-left: 5%;
  width: 90%;
  font-size: large;
  padding: 15px;
}

.mb-mn{
  margin-left: 5%;
  width: 90%;
  font-size: large;
  padding: 15px;
}


.acc-text{
  font-family: 'DM Serif Display', serif;
  padding: 5px;
}
