#bold{
    font-weight: bold;
}

.article-text{
    margin-left: 8%;
    margin-right: 8%;
    align-self: flex-start;
    text-align: left;
    line-height: 1.7;

}
.title{
    margin-left: 8%;
    margin-right: 8%;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.link{
    color: rgb(37, 144, 158);
    text-decoration: underline;
}

.link:hover{
    color: rgb(12, 85, 85) !important;
}

.credit{
    margin-top: 5px;
    color: rgb(165, 165, 165) !important;
    font-size: smaller;

}

.paragraph{
    font-weight: 550;
    color:black;
    font-style: italic;
}
.ar-img{
    margin-top: 5rem;
    width: 80%;

}

.paragraph:hover{
    color: black !important;
}

@media screen and (min-width: 768px) {
    .article-text{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: large;
    }
    .title{
        margin-left: 30%;
        margin-right: 30%;
        font-size: 36px;

    }
    .ar-img{
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }

}